html,
body {
  margin: 0;
  padding: 0;
  background-color: #D1D1D1;
  overflow-x: hidden;
}
.colorone {
  background-color: #1BBC9B;
}
.colortwo {
  background-color: #129d81;
}
.title {
  border: 1px solid #CCCCCC;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.no-padding {
  padding: 0px;
}
#header .container {
  width: 90%;
}
#header #header-top {
  height: 30px;
  line-height: 30px;
}
#header #header-top ul {
  margin: 0px;
}
#header #header-top ul a {
  color: white;
}
#header #header-top ul li {
  padding-right: 10px;
  transition: 0.4s;
}
#header #header-top ul li:hover {
  -ms-transform: scale(1.3, 1.3);
  /* IE 9 */
  -webkit-transform: scale(1.3, 1.3);
  /* Safari */
  transform: scale(1.3, 1.3);
}
#header #nav {
  height: 70px;
  line-height: 70px;
}
#header #nav ul {
  margin: 0px;
}
#header #nav ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
}
#header #nav ul li a {
  color: white;
  padding: 26px 9px 25px 9px;
}
#header #nav ul li a:hover {
  background-color: #129d81;
}
#header-actus {
  margin-top: -20px;
  /*    figure{
  transition: 0s;
  &:hover{
  .title-picture{
  visibility: hidden;
  transition: 0s;
}
}
}*/
}
#header-actus .col {
  padding: 0px;
}
#header-actus .big-img {
  height: 350px;
}
#header-actus .big-img img {
  height: 350px;
  object-fit: cover;
  width: 100%;
}
#header-actus .small-img {
  height: 175px;
}
#header-actus .small-img img {
  height: 175px;
  object-fit: cover;
  width: 100%;
}
#header-actus .title-picture {
  position: absolute;
  z-index: 20;
  font-weight: 200;
}
#header-actus .heart-picture {
  position: absolute;
  z-index: 19;
  bottom: 0;
  right: 0;
  padding: 5px;
}
#header-actus .heart-picture:hover {
  color: #f44336;
}
#index-site {
  /** ressources **/
  /** ressources **/
  /** recent post **/
  /** recent post **/
}
#index-site .container {
  width: 95%;
}
#index-site #ressources {
  padding: 20px;
  margin-top: 20px;
}
#index-site #ressources #refine-bar {
  padding: 0px;
}
#index-site #ressources #refine-bar ul {
  margin: 0px;
}
#index-site #ressources #refine-bar ul li {
  display: block;
  padding: 10px;
  transition: 0.2s;
}
#index-site #ressources #refine-bar ul li:hover {
  background-color: #1BBC9B;
  border-color: #129d81;
  transition: 0.2s;
}
#index-site #ressources #refine-bar ul li:hover [type="radio"]:not(:checked) + label,
#index-site #ressources #refine-bar ul li:hover [type="radio"]:checked + label {
  padding-left: 25px;
  font-size: 15px;
  font-weight: 300;
  color: white;
}
#index-site #ressources #ressources-choice .img-ressources {
  margin-bottom: 10px;
  padding: 0px;
}
#index-site #ressources #ressources-choice img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#index-site #recent-post {
  padding: 20px;
  margin-top: 20px;
}
#index-site #recent-post .recent-post {
  padding: 0px;
  margin-bottom: 20px;
}
#index-site #recent-post .recent-post .picture-post {
  padding: 0px;
  height: 70px;
}
#index-site #recent-post .recent-post .picture-post img {
  object-fit: cover;
  width: 100%;
  height: 70px;
}
#index-site #recent-post .recent-post .text-post {
  height: 70px;
}
#index-site #recent-post .recent-post .text-post a {
  color: #424242;
}
#index-site #recent-post .recent-post .text-post a:hover {
  color: #129d81;
  text-decoration: underline;
}
#index-site #recent-post .recent-post .text-post h6 {
  margin: 0px;
}
#index-site #about {
  padding: 20px;
  margin-top: 20px;
}
/***ressources ***/
#header-ressources {
  background-image: url('../webgallery/header_ressources.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 300px;
  margin-top: -20px;
}
#ressources-site .container {
  width: 95%;
}
#ressources-site #refine-bar ul {
  margin: 0px;
}
#ressources-site #refine-bar ul li {
  display: inline-block;
  padding: 15px;
  transition: 0.2s;
}
#ressources-site #refine-bar ul li:hover {
  background-color: #1BBC9B;
  transition: 0.2s;
}
#ressources-site #refine-bar ul li:hover [type="radio"]:not(:checked) + label,
#ressources-site #refine-bar ul li:hover [type="radio"]:checked + label {
  color: white;
}
#ressources-site #refine-bar ul li:hover .fa {
  color: white;
}
#ressources-site #refine-bar ul li .fa {
  color: #9e9e9e;
}
#ressources-site #ressources {
  margin-top: 20px;
  padding: 15px;
}
#ressources-site #ressources .img-ressources {
  height: 250px;
  margin-bottom: 10px;
  padding: 0px;
}
#ressources-site #ressources .img-ressources img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}
#ressources-site #ressources-details {
  padding: 0px;
}
#ressources-site #ressources-details img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
#ressources-site .ressources {
  margin-top: 20px;
  padding: 15px;
}
#ressources-site .btn-flat {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  height: 30px;
  line-height: 30px;
}
#ressources-site .btn-flat:hover {
  color: #129d81;
}
/*** actualites ***/
#header-actualites {
  background-image: url('../webgallery/header_actualites.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 300px;
  margin-top: -20px;
}
.title {
  border: 1px solid #CCCCCC;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
#actualites-site .container {
  width: 95%;
}
#actualites-site #recent-post {
  padding: 20px;
  margin-top: 20px;
}
#actualites-site #recent-post .recent-post {
  padding: 0px;
  margin-bottom: 20px;
}
#actualites-site #recent-post .recent-post .picture-post {
  padding: 0px;
  height: 70px;
}
#actualites-site #recent-post .recent-post .picture-post img {
  object-fit: cover;
  width: 100%;
  height: 70px;
}
#actualites-site #recent-post .recent-post .text-post {
  height: 70px;
}
#actualites-site #recent-post .recent-post .text-post a {
  color: #424242;
}
#actualites-site #recent-post .recent-post .text-post a:hover {
  color: #129d81;
  text-decoration: underline;
}
#actualites-site #recent-post .recent-post .text-post h6 {
  margin: 0px;
}
#actualites-site .actualites {
  margin-top: 20px;
  padding: 15px;
}
#actualites-site .actualites .picture-actualites {
  height: 160px;
  padding: 0;
}
#actualites-site .actualites .picture-actualites img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
#actualites-site .actualites .btn-flat {
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  height: 30px;
  line-height: 30px;
}
#actualites-site .actualites .btn-flat:hover {
  color: #129d81;
}
#actualites-site #actualites-details {
  padding: 0px;
}
#actualites-site #actualites-details img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
/***contact ***/
#header-contact {
  width: 100vw;
  height: 400px;
  margin-top: -20px;
}
#contact-site .contact {
  margin-top: 20px;
}
#contact-site .container {
  width: 95%;
}
#contact-site #contact-form {
  padding: 20px;
}
#contact-site #contact-form ul {
  margin: 0px;
}
#contact-site #contact-form ul li {
  margin-top: 10px;
}
/***about ***/
#header-about {
  background-image: url('../webgallery/header_about.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 300px;
  margin-top: -20px;
}
#about-site .container {
  width: 95%;
}
#about-site .about {
  margin-top: 20px;
  padding: 15px;
}
#about-site .test {
  background-color: white;
  border-top: 4px solid #1BBC9B;
}
#about-site .test1 {
  background-color: #1BBC9B;
  border-top: 4px solid #129d81;
  padding: 15px;
  color: white;
}
#facebook,
#twitter {
  margin-bottom: 10px;
}
/*other card*/
#maptoomi {
  padding: 20px;
  margin-top: 20px;
}
#busEmploi {
  padding: 20px;
  margin-top: 20px;
}
#open-menu-mobile {
  display: none;
  color: white;
  font-size: 22px;
  float: right;
}
#slide-out li {
  width: 100%;
  display: flex !important;
  align-items: center;
  padding-top: 0;
}
#slide-out li a {
  padding: 0px !important;
  width: 100%;
  text-align: center;
  color: #1BBC9B !important;
}
#slide-out li a:hover {
  color: white !important;
}
@media screen and (max-width: 980px) {
  #open-menu-mobile {
    display: block;
  }
}
