// out: ../css/style.css, compress: false, strictMath: true
html, body{
  margin: 0;
  padding: 0;
  background-color: #D1D1D1;
  overflow-x: hidden;
}

@colorone: #1BBC9B;
@colortwo: #129d81;

.colorone{
  background-color: @colorone;
}
.colortwo{
  background-color: @colortwo;
}
.title{
  border: 1px solid #CCCCCC;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.no-padding{
  padding: 0px;
}
#header{
  .container{
    width: 90%;
  }
  #header-top{
    height: 30px;
    line-height: 30px;
    ul{
      margin: 0px;
      a{
        color: white;
      }
      li{
        padding-right: 10px;
        transition: 0.4s;
        &:hover{
          -ms-transform: scale(1.3,1.3); /* IE 9 */
          -webkit-transform: scale(1.3,1.3); /* Safari */
          transform: scale(1.3,1.3);
        }
      }
    }
  }
  #nav{
    height: 70px;
    line-height: 70px;
    ul{
      margin: 0px;
      li{
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        a{
          color: white;
          padding: 26px 9px 25px 9px;
          &:hover{
            background-color: @colortwo;
          }
        }
      }
    }
  }
}
#header-actus{
  margin-top: -20px;
  .col{
    padding: 0px;
  }
  .big-img{
    height: 350px;
    img{
      height: 350px;
      object-fit: cover;
      width: 100%;
    }
  }
  .small-img{
    height: 175px;
    img{
      height: 175px;
      object-fit: cover;
      width: 100%;
    }
  }
  /*    figure{
  transition: 0s;
  &:hover{
  .title-picture{
  visibility: hidden;
  transition: 0s;
}
}
}*/
.title-picture{
  position: absolute;
  z-index: 20;
  font-weight: 200;
}
.heart-picture{
  position: absolute;
  z-index: 19;
  bottom: 0;
  right: 0;
  padding: 5px;
  &:hover{
    color: #f44336;
  }
}
}

#index-site{
  .container{
    width: 95%;
  }
  /** ressources **/
  #ressources{
    padding: 20px;
    margin-top: 20px;
    #refine-bar{
      padding: 0px;
      ul{
        margin: 0px;
        li{
          display: block;
          padding: 10px;
          transition: 0.2s;
          &:hover{
            background-color: @colorone;
            border-color: @colortwo;
            transition: 0.2s;
            [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
              padding-left: 25px;
              font-size: 15px;
              font-weight: 300;
              color: white;
            }
          }
        }
      }
    }
    #ressources-choice{
      .img-ressources{
        margin-bottom: 10px;
        padding: 0px;
      }
      img{
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
  }
  /** ressources **/
  /** recent post **/
  #recent-post{
    padding: 20px;
    margin-top: 20px;
    .recent-post{
      padding:0px;
      margin-bottom: 20px;
      .picture-post{
        padding: 0px;
        height: 70px;
        img{
          object-fit: cover;
          width: 100%;
          height: 70px;
        }
      }
      .text-post{
        height: 70px;
        a{
          color: #424242;
          &:hover{
            color: @colortwo;
            text-decoration : underline;
          }
        }
        h6{
          margin: 0px;
        }
      }
    }
  }
  /** recent post **/
  #about{
    padding: 20px;
    margin-top: 20px;
  }
}

/***ressources ***/
#header-ressources{
  background-image: url('../webgallery/header_ressources.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 300px;
  margin-top: -20px;
}
#ressources-site{
  .container{
    width: 95%;
  }
  #refine-bar{
    ul{
      margin: 0px;
      li{
        display: inline-block;
        padding: 15px;
        transition: 0.2s;
        &:hover{
          background-color: @colorone;
          transition: 0.2s;
          [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
            color: white;
          }
          .fa{
            color: white;
          }
        }
        .fa{
          color: #9e9e9e;
        }
      }
    }
  }
  #ressources{
    margin-top: 20px;
    padding: 15px;
    .img-ressources{
      height: 250px;
      margin-bottom: 10px;
      padding: 0px;
      img{
        object-fit: cover;
        height: 250px;
        width: 100%;
      }
    }
  }
  #ressources-details{
    padding: 0px;
    img{
      width: 100%;
      height: 120px;
      object-fit: cover;
    }
  }
  .ressources{
    margin-top: 20px;
    padding: 15px;
  }
  .btn-flat{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    &:hover{
      color: @colortwo;
    }
  }
}

/*** actualites ***/
#header-actualites{
  background-image: url('../webgallery/header_actualites.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 300px;
  margin-top: -20px;
}
.title{
  border: 1px solid #CCCCCC;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

#actualites-site{
  .container{
    width: 95%;
  }
  #recent-post{
    padding: 20px;
    margin-top: 20px;
    .recent-post{
      padding:0px;
      margin-bottom: 20px;
      .picture-post{
        padding: 0px;
        height: 70px;
        img{
          object-fit: cover;
          width: 100%;
          height: 70px;
        }
      }
      .text-post{
        height: 70px;
        a{
          color: #424242;
          &:hover{
            color: @colortwo;
            text-decoration : underline;
          }
        }
        h6{
          margin: 0px;
        }
      }
    }
  }
  .actualites{
    margin-top: 20px;
    padding: 15px;
    .picture-actualites{
      height: 160px;
      padding: 0;
      img{
        width: 100%;
        height: 160px;
        object-fit: cover;
      }
    }
    .btn-flat{
      padding-left: 3px;
      padding-right: 3px;
      margin-top: 5px;
      height: 30px;
      line-height: 30px;
      &:hover{
        color: @colortwo;
      }
    }
  }
  #actualites-details{
    padding: 0px;
    img{
      width: 100%;
      height: 120px;
      object-fit: cover;
    }
  }
}

/***contact ***/
#header-contact{
  width: 100vw;
  height: 400px;
  margin-top: -20px;
}
#contact-site{
  .contact{
    margin-top: 20px;
  }
  .container{
    width: 95%;
  }
  #contact-form{
    padding: 20px;
    ul{
      margin: 0px;
      li{
        margin-top: 10px;
      }
    }
  }
}

/***about ***/
#header-about{
  background-image: url('../webgallery/header_about.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 300px;
  margin-top: -20px;
}
#about-site{
  .container{
    width: 95%;
  }
  .about{
    margin-top: 20px;
    padding: 15px;
  }
  .test{
    background-color: white;
    border-top: 4px solid @colorone;
  }
  .test1{
    background-color: @colorone;
    border-top: 4px solid @colortwo;
    padding: 15px;
    color: white;
  }
}

#facebook, #twitter{
  margin-bottom: 10px;
}

/*other card*/

#maptoomi{
  padding: 20px;
  margin-top: 20px;
}
#busEmploi{
  padding: 20px;
  margin-top: 20px;
}
#open-menu-mobile{
  display: none;
  color: white;
  font-size: 22px;
  float: right;
}
#slide-out{
  li{
    width: 100%;
    display: flex !important;
    align-items: center;
    padding-top: 0;
    a{
      padding: 0px !important;
      width:100%;
      text-align:center;
      color: @colorone !important;
      &:hover{
        color: white !important;
      }
    }
  }
}
@media screen and (max-width: 980px) {
  #open-menu-mobile{
    display: block;
  }
}
