body {
    padding: 0;
    margin: 0;
    background-color:white;
}

/** all **/
.green-custom{
    background-color: #49C9B0;
}
.row {
    margin-bottom: 0px;
}
.container {
    width: 90%;
}

/** all **/

/*** index connexion ***/
#body{
    background-color: #49C9B0; 
}
.content-index{ /** content center **/
    width: 80%;
    height: 60vh;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -30vh;
    position: absolute;
}
.content-index .profil-picture{ /** avatar index adm **/
    width: 30vh;
    height: 30vh;
    margin: auto;
}
.content-index .profil-picture img{ /** avatar changed on index adm **/
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid white;
}
.input-field label { /** color input **/
    color: #fff;
}
.content-index input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea { 
    border-bottom: 1px solid white;
}
/* focus change color text */
input[type="email"]:focus:not([readonly]) +label, input[type="password"]:focus:not([readonly]) + label {
    color: #37474f;
} 
/*focus change color border */
input[type="email"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]){
    border-color: #37474f;
}
/*** index conexxion ***/
/*** style nav ***/
nav{
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.16),0 0px 1px 0 rgba(0,0,0,0.12);
}
nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 4px 15px;
    cursor: pointer;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 30px;
    height: 56px;
    line-height: 60px;
}
#logo-adm{
    margin-left: 1em;
}
#logo-adm:hover{
    color: black;
}
/*** style nav ***/

.header-bottom{
    width: 100%;
    height: 30vh;
    /*    background-color: #ecf0f1;*/
    background-image: url("../traitement/galleryActu/purty_wood.png");
    background-repeat: repeat;
    text-align: center;
    line-height: 30vh;
}
.test{
    padding: 0;
}

/*** style tabs ***/
.tabs .tab a {
    color: white;
}
.tabs{
    overflow-x: hidden;
    padding: 0px;
    margin-bottom: 0px;
}
.tabs .tab a:hover {
    color: #4B867A;
}
.tabs .indicator { /** bottom bar **/
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #4B867A;
    will-change: left, right;
}
.no-padding{
    padding: 0px;
    /* margin-bottom: 0.5%;*/
}
/*** style tabs ***/

/*** refine bar ***/
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label, [type="checkbox"] + label {
    padding-left: 25px;
    margin-right: 10px;
}
/*** refine-bar ***/

/*** modal - profil ***/
.card .card-image img {
    object-fit: cover;
    height: 200px;
}
/*** modal - profil ***/

.card{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 0px 0 rgba(0,0,0,0.12);
    color: #616161;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #49C9B0;
}
.card .card-action a:hover:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #39A28E;
}
.card a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #49C9B0;
}
.card a:hover:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #39A28E;
}

/*** ressources ***/
.add-ressources{
    height: 150px;
    border: 9px dashed #b3e5fc;
    line-height: 190px;
    text-align: center;
    color: #b3e5fc;
    cursor: pointer;
}
.add-ressources:hover{
    border-color:#81d4fa;
    color: #81d4fa;
}
/*** ressources ***/
/*** add users ***/
.add-user{
    height: 105px;
    border: 9px dashed #b3e5fc;
    text-align: center;
    color: #b3e5fc;
    cursor: pointer;
    padding-top: 15px;
}
.add-user:hover{
    border-color:#81d4fa;
    color: #81d4fa;
}
#picture-edituser {
    width: 40px;
    height: 40px
}
#picture-edituser img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid white;
}
#add-user .input-field label {
    color: #5d5858;
}
#add-user input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea {
    border-bottom: 1px solid #5d5858;
}
#add-user  input[type="text"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]){
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 0;
}
#add-user .dropdown-content li > span {
    color: #607d8b;
}
/*** add-users ***/
/********************************************************************************
********************************************************************************
                                                                    ACTUS
********************************************************************************
********************************************************************************/

#imgactu img {
    object-fit: cover;
    background-color: white;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

#imgactu {
    height: 120px;
    padding-bottom: 20px;
}


.details {
    
}



/********************************************************************************
********************************************************************************
                                                                    edit profil
********************************************************************************
********************************************************************************/

.modal{
    height: 75vh;
}
.modal.bottom-sheet {
    max-height: none;
}

/******* add - actus ********/
#btn-add-actus{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#form-add-actus .input-field label {
    color: black;
}

/******* add - ressources ********/
#btn-add-ressources{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#form-add-ressources .input-field label {
    color: black;
}

/****** page error *******/

#bodyError{
    background-image: url(../gallery/background_error.jpg);
    background-size: cover;
    background-attachement: fixed;
}
#bodyError #layerError{
    width: 100vw;
    height: 100vh;
    background-color: rgba(16, 125, 98, 0.7);
}
#bodyError #layerError .buttonError{
    border: 2px solid white;
    border-radius: 0px;
    transition: 0.4s;
    background-color: transparent;
}
#bodyError #layerError .buttonError:hover{
    background-color: white;
    transition: 0.4s;
    color: #00bfa5;
}

